{% extends "base.html" %}

{% block scripts %}

		<script type="text/javascript" src="media/numberlink/numberlink.js"></script>
		<script type="text/javascript" src="media/numberlink/board.js"></script>
		<script type="text/javascript" src="media/numberlink/mousedrag.js"></script>
		<script type="text/javascript" src="media/numbserver.js"></script>
		<link rel="stylesheet" type="text/css" href="media/numberlink/style.css" media="screen" title="Styl podstawowy" />
		
{% endblock %}

{% block text %}
<p style="text-align:right;">
<a href="#" class="showMenu">menu</a>
</p>
<div id="MainMenu">
Witaj w grze numberlink!
  <p>
  <ul>
  <li><a href="#" class="showboard">Rozpocznij grę.</a></li>
  <li><a href="#" class="showhighscores">Wyniki.</a></li>
  <li><a href="#" class="showlogin">Zaloguj się.</a></li>
  <li><a href="#" class="showlogout">Wyloguj się.</a></li>
  
  </ul>
  </p>
</div>
<div class = "bbq-content">
</div>
{% endblock %}
