
        <SCRIPT LANGUAGE="JAVASCRIPT" TYPE="TEXT/JAVASCRIPT">
        <!--

            $(document).ready(function(){
                    wantBoard();
            });

        //-->
        </SCRIPT>
        
        {% include "menu.html" %}

        <div id="boardsoptions"></div>
	
        <div class="button"><a href="#" id="check">Sprawdź</a></div>
	<div class="button"><a href="#" id="reset">Wyczyść</a></div>	


        <div class="all">
		<div class="game">
	    	<div id="board"></div>
		</div>
        </div>

	<p style="text-align:center;">
		Czs gry: <span id="time">0s</span>
		<br />
		Najlepszy: <span id="bestTime">brak</span>
	</p>
	<hr />
