
        <SCRIPT LANGUAGE="JAVASCRIPT" TYPE="TEXT/JAVASCRIPT">
        <!--
            contest = {{ contest }}
            $(document).ready(function(){
                    wantBoard();
            });

        //-->
        </SCRIPT>
        
        {% include "menu.html" %}

        <div class="boardsoptions"></div>
	
        <div class="button"><a  class="check">Sprawdź</a></div>
	<div class="button"><a  class="reset">Wyczyść</a></div>	


        <div class="all">
		<div class="game">
	    	<div class="board"></div>
		</div>
        </div>

	<p style="text-align:center;">
		Czs gry: <span class="time">0s</span>
		<br />
		Najlepszy: <span class="bestTime">brak</span>
	</p>
	<hr />
