{% extends "base.html" %}

{% block scripts %}

		<script type="text/javascript" src="/static/numberlink/numberlink.js"></script>
		<script type="text/javascript" src="/static/numberlink/board.js"></script>
		<script type="text/javascript" src="/static/numberlink/mousedrag.js"></script>
		<script type="text/javascript" src="/static/numbserver.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/numberlink/style.css" media="screen" title="Styl podstawowy" />
		
{% endblock %}

{% block text %}
    <p style="text-align:right;">
        <a href="" class="showMenu">menu</a>
    </p>

<div class = "bbq-content">
    <div class = "bbq-loading">Trwa ładowanie :)</div>

    <div class = "bbq-default bbq-item">
        {% include "menu.html" %}
    </div>
</div>
{% endblock %}
